modules = ["nodejs-20", "web"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
SMTP_HOST = "pro.turbo-smtp.com"
SMTP_PORT = "465"
SMTP_USERNAME = "4abcc16f700a577d058e"
SMTP_PASSWORD = "9TzJ70lLdI5aSnqO4mog"
SMTP_FROM_EMAIL = "genmz@genmz.store"
SUPPORT_EMAIL = "genmz.sa@gmail.com"
SHIPHERO_API_SECRET = "ffa226f8397f95605fa3ea8c3847838b4c72d409f0a303f7079100f902295ee2"
SHIPHERO_API_KEY = "fbf09f2895599e1c66b8f1f1364ee5a3e4c6be94607004e2077b53498af63595"
VITE_MOYASAR_PUBLISHABLE_KEY = "pk_live_ixH23WBZonR9eLPvhwwJLQBgrDTuZo9863cF562S"
MOYASAR_API_KEY = "sk_live_jCywr8xWiXCa1rQm2p2exyXxEUtVyrkmPuAziVRE"
GOOGLE_CLIENT_ID = "178105227401-ro3f2ug66as0r5ddo7qupfhrqfuqa85t.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "GOCSPX- 9xkldGlkOLvPF39tbBLkFool0o64"
